/*-- ------------------------------------------------- ----------------- header banner start ----------- ---------------------------------------------------*/
header{
    background-color: black;
    border-radius: 20px;
}
.header{
    display: flex;
    color: white;
}
.tex{
    margin: 30px;
    font-size: 2em;
}
.tex>a{
    text-decoration: none;
    background-color: red;
    color: white;
    padding: 20px;
    border-radius: 10px;
}
/*-- ------------------------------------------------- ----------------- header banner eand ----------- ---------------------------------------------------*/

/*-- ------------------------------------------------- ----------------- blog start ----------- ---------------------------------------------------*/
.blogs{
    display: flex;
    margin-top: 100px;
}
.menu{
    height: 312px;
    width: 312px;
    display: grid;
    background-color: #161616;
    border-radius: 20px;
}
button{
    height: 64px;
    width: 252px;
    margin:20px 30px;
    border-radius: 10px;
    color: #161616;
    font-size: 20px;

}
button>a{
    text-decoration: none;
    color: #161616;
}
.select{
    background-color: #DD0000;
    color: #FFFFFF;
}
.blog{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-left: 30px;
    gap: 30px;
}
article{
    border: 3px solid #e8e8e8;
    border-radius: 20px;
    padding-bottom: 20px;
}
article>img{
    width: 100%;
}
article>button{
    height: 32px;
    width: 100px;
    border: radius 5px;
}
h4 , i{
    margin-left: 20px;
}
/*-- ------------------------------------------------- ----------------- blog end ----------- ---------------------------------------------------*/
.vew{
    text-align: center;
    display: none;
}
/*-- ------------------------------------------------- ----------------- footer start ----------- ---------------------------------------------------*/

footer{
    text-align: center;
    width: 100%;
    height: 450px;
    background-color: #161616;
    color: #FFFFFF;
}
.fa-brands{
    color:#0570E6 ;
    font-size: 40px;
    margin: 10px 30px;
}
.privase>a{
    text-decoration: none;
    color: #878787;
    background-color: #0f0d0d;
    margin:10px;
}
.privase{
    display: grid;
    grid-template-columns: repeat(4,1fr)
    
}

/*-- ------------------------------------------------- ----------------- footer  end ----------- ---------------------------------------------------*/

/*-- ------------------------------------------------- ----------------- responsive website start ----------- ---------------------------------------------------*/
@media screen and (max-width:600px) {
    .header, .blogs{
        flex-direction: column;
    }
    .blog{
        grid-template-columns: repeat(1,1fr);
    }
    .privase{
        grid-template-columns: repeat(1,1fr)
    }
}
@media screen and (min-width:601px) and (max-width:820px) {
    .blogs{
        flex-direction: column;
    }
    .menu{
        grid-template-columns: repeat(3,1fr);
        background-color: white;
    }
    
    .blog{
        grid-template-columns: repeat(2,1fr);
    }
    .privase{
        grid-template-columns: repeat(2,1fr)
    }
}
/*-- ------------------------------------------------- ----------------- responsive website eand ----------- ---------------------------------------------------*/
